// https://github.com/loadingio/css-spinner/blob/master/dual-ring.html
@-webkit-keyframes lds-dual-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-dual-ring {
    position: relative;
    transform: scale(0.7);

    div {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 16px solid #000;
        border-color: rgba(195, 30, 30, 0.9) transparent rgba(195, 30, 30, 0.9) transparent;
        -webkit-animation: lds-dual-ring 1.3s linear infinite;
        animation: lds-dual-ring 1.3s linear infinite;
    }
}
