<div class="p-2">
    <h2>Star Wars movies</h2>
    <div cdkDropListGroup>
        <div class="row">
            <div class="col" *ngFor="let list of lists">
                <div class="card bg-danger">
                    <div class="card-header text-white">
                        <h2>{{ list.title }}</h2>
                    </div>
                    <div cdkDropList [cdkDropListData]="list.data" class="drop-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="drop-item-box" *ngFor="let item of list.data" cdkDrag>
                            <div class="drop-item-placeholder" *cdkDragPlaceholder></div>
                            {{item.title}}
                            <img class="drop-preview-img" *cdkDragPreview [src]="item.preview">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
