.example-item {
    height: 50px;
    //border: 1px solid blue;
    //overflow: auto;
    //padding-right: 15px;
    /*
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    */
}
