
<div class="example-item">
    <ng-template #loading>
        Loading...
    </ng-template>

    <div *ngIf="movie; else loading">
      <div class="row border">
        <div class="col-md-3">
            <div class="row">
                <div class="card-body col-md-3">
                    <img class="movie-thumbnail" [src]="movieImagePath(movie)" alt="{{movie.title}}">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h6 class="card-title font-weight-bold">
                        {{movie.title}}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <p class="card-text">{{movie.overview}}</p>
                <h6 class="card-subtitle mt-2 text-muted">Release: {{movie.release_date}}</h6>
                <h6 class="card-subtitle mt-2 text-muted">Language: {{langToString(movie)}}</h6>
                <h6 class="card-subtitle mt-2 text-muted">Score: {{movie.vote_average}} ({{movie.vote_count}} votes)</h6>
            </div>
        </div>
      </div>
        <!--div class="card">
            <div class="card-body">
                <h5 class="card-title w-25 float-left">
                    <img class="movie-thumbnail" [src]="movieImagePath(movie)" alt="{{movie.title}}"> {{movie.title}}
                </h5>
                <p class="card-text">{{movie.overview}}</p>
                <h6 class="card-subtitle mt-2 text-muted">Release: {{movie.release_date}}</h6>
                <h6 class="card-subtitle mt-2 text-muted">Language: {{langToString(movie)}}</h6>
                <h6 class="card-subtitle mt-2 text-muted">Score: {{movie.vote_average}} ({{movie.vote_count}} votes)</h6>
            </div>
        </div-->
    </div>
</div>
