.example-item {
    //height: 200px;
    //overflow-x: scroll;
    //border: 1px solid blue;
    //overflow: auto;
    //padding-right: 15px;
    /*
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    */
}

.movie-thumbnail {
    max-width: 72px;
}
