<div class="mt-1 mb-3 chat-container" #scrollMe>
    <div class="card" *ngFor="let msg of messages.observable | async">
        <div class="card-body">
            <div class="card-text">{{ msg }}</div>
        </div>
    </div>
</div>
<dng-form [model]="model" [options]="options" submitLabel="Send message" (submitter)="send($event)"></dng-form>

<button type="button" class="btn btn-primary" (click)="call()">Call</button>
<button type="button" class="btn btn-primary" (click)="initiate(true)">Initiate</button>
<button type="button" class="btn btn-primary" (click)="initiate(false)">Answer</button>
<button type="button" class="btn btn-danger" (click)="hangup()">End call</button>
<button type="button" class="btn btn-success" (click)="connect()">Connect</button>

<video #myvideo></video>
