<h2>Collection of UI components</h2>

<ngb-tabset>
  <ngb-tab title="Forms">
    <template ngbTabContent>
      <dng2-form role="matt"></dng2-form>
    </template>
  </ngb-tab>
  <ngb-tab title="JQuery + Chosen plugin">
    <template ngbTabContent>
      <dng2-chosen></dng2-chosen>
    </template>
  </ngb-tab>
  <ngb-tab title="DataTables">
    <template ngbTabContent>
      <dng2-dt></dng2-dt>
    </template>
  </ngb-tab>
  <ngb-tab title="Alerts">
    <template ngbTabContent>
      <br/>
      <button type="button" class='btn btn-primary' (click)="addSuccessAlert()">Success message</button>
      <button type="button" class='btn btn-primary' (click)="addInfoAlert()">Info message</button>
      <button type="button" class='btn btn-primary' (click)="addWarningAlert()">Warning message</button>
      <button type="button" class='btn btn-primary' (click)="addErrorAlert()">Error message</button>
    </template>
  </ngb-tab>
  <ngb-tab title="Disabled" [disabled]="true">
    <template ngbTabContent>
    </template>
  </ngb-tab>
</ngb-tabset>
