<h2>Collection of UI components</h2>

<ngb-tabset>
  <ngb-tab title="Dialog + dropdown(s)">
    <ng-template ngbTabContent>
      <dng-dialog-app-demo class="float-left mt-sm-4 mr-sm-4"></dng-dialog-app-demo>
      <dng-dropdown [menuItems]="menuItems" class="float-left mt-sm-4 mr-sm-4">
        <div class="float-left dropdown-component-avatar">
          <img src="https://avatars3.githubusercontent.com/u/22722756?s=40&amp;v=4"
            height="20" width="20" />
        </div>
      </dng-dropdown>
      <dng-spinner type="spinner-1" class="float-left mt-sm-4 mr-sm-4"></dng-spinner>
      <dng-spinner type="spinner-2" class="float-left mt-sm-4 mr-sm-4"></dng-spinner>
      <dng-spinner scale=0.5 type="spinner-2" class="float-left mt-sm-4 mr-sm-4"></dng-spinner>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Form + select">
    <ng-template ngbTabContent>
      <br/>
      <dng-form-app-demo></dng-form-app-demo>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="DataTables">
    <ng-template ngbTabContent>
      <br/>
      <h2>DataTables (dynamic creation + column rendering)</h2>
      <dng-dt [tableData]="species" [dtRender]="renderSpeciesFn">
        <div dngDtColumnDirective dt-title="Name" dt-render="name"></div>
        <div dngDtColumnDirective dt-data="language" dt-title="Language"></div>
        <div dngDtColumnDirective dt-data="classification" dt-title="Classification"></div>
        <div dngDtColumnDirective dt-data="url" dt-title="More info"></div>
      </dng-dt>
      <br/>
      <h2>DataTables (static creation)</h2>
      <dng-dt [tableData]="personnel" [tableOptions]="tableOptions">
        <div dngDtColumnDirective dt-data="name" dt-title="Name"></div>
        <div dngDtColumnDirective dt-data="title" dt-title="Position"></div>
        <div dngDtColumnDirective dt-data="salary" dt-title="Salary"></div>
        <div dngDtColumnDirective dt-data="location" dt-title="Location"></div>
      </dng-dt>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Alerts">
    <ng-template ngbTabContent>
      <br/>
      <button type="button" class='btn btn-primary' (click)="addSuccessAlert()">Success message</button>
      <button type="button" class='btn btn-primary' (click)="addInfoAlert()">Info message</button>
      <button type="button" class='btn btn-primary' (click)="addWarningAlert()">Warning message</button>
      <button type="button" class='btn btn-primary' (click)="addErrorAlert()">Error message</button>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Drag&Drop">
      <ng-template ngbTabContent>
        <br/>
        <dng-drag-drop-app-demo></dng-drag-drop-app-demo>
      </ng-template>
    </ngb-tab>
  <ngb-tab title="Disabled" [disabled]="true">
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
