<h2>Collection of UI components</h2>

<ngb-tabset>
  <ngb-tab title="Forms">
    <template ngbTabContent>
    </template>
  </ngb-tab>
  <ngb-tab title="Form + select">
    <template ngbTabContent>
      <br/>
      <dng-app-form></dng-app-form>
    </template>
  </ngb-tab>
  <ngb-tab title="DataTables">
    <template ngbTabContent>
      <br/>
      <h2>DataTables (dynamic creation)</h2>
      <dng-dt [tableData]="data">
        <div dng-dt-column-directive dt-data="name" dt-title="Name"></div>
        <div dng-dt-column-directive dt-data="title" dt-title="Position"></div>
        <div dng-dt-column-directive dt-data="location" dt-title="Location"></div>
        <div dng-dt-column-directive dt-data="salary" dt-title="Salary"></div>
      </dng-dt>
      <br/>
      <h2>DataTables (static creation)</h2>
      <dng-dt [staticRender]="true" [tableData]="data" [tableOptions]="tableOptions">
        <div dng-dt-column-directive dt-title="Name"></div>
        <div dng-dt-column-directive dt-title="Position"></div>
        <div dng-dt-column-directive dt-title="Salary"></div>
        <div dng-dt-column-directive dt-title="Location"></div>
      </dng-dt>
    </template>
  </ngb-tab>
  <ngb-tab title="Alerts">
    <template ngbTabContent>
      <br/>
      <button type="button" class='btn btn-primary' (click)="addSuccessAlert()">Success message</button>
      <button type="button" class='btn btn-primary' (click)="addInfoAlert()">Info message</button>
      <button type="button" class='btn btn-primary' (click)="addWarningAlert()">Warning message</button>
      <button type="button" class='btn btn-primary' (click)="addErrorAlert()">Error message</button>
    </template>
  </ngb-tab>
  <ngb-tab title="Disabled" [disabled]="true">
    <template ngbTabContent>
    </template>
  </ngb-tab>
</ngb-tabset>
