<dng-header></dng-header>

<main id="container">
    <dng-alert></dng-alert>
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-6 col-sm-2 sidebar-offcanvas">
      <dng-sidemenu></dng-sidemenu>
    </div>
    <div class="col-xs-12 col-sm-10">
        <!--ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active">Courses</li>
        </ol-->
        <dng-breadcrumb></dng-breadcrumb>
        <div class="jumbotron">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</main>

<dng-footer></dng-footer>