.terminalMenu {
    width: 100%;
    box-sizing: border-box;
    height: 32px;
    background-color: #bbb;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
    overflow: hidden;
    top: 29px;

    > span {
        font-size: 0.8em;
        display: inline-block;
        padding-left: 4px;
        transform: translateY(-1px);
    }

    .separator {
        display: inline-block;
        width: 8px;
    }
}

.terminalMenuFocus {
    background-color: #bbb;
}

.terminalMenuBlur {
    background-color: #ddd;
}

.terminalScreen {
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 32px);
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.59);
}

.terminalButtons {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    display: inline-block;
    margin: 9px 6px 0 0;
}

.terminalClose {
    margin-left: 12px;
    background-color: #ff3b47;
    border-color: #9d252b;
}

.terminalZoom {
    background-color: #00d742;
    border-color: #049931;
}

.timeline {
    top: 25px;
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: #a0a0a0
}

.timeline-entry {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    opacity: 1;
    background-color: #ff4081;
    top: -5px;
}

// https://codepen.io/katzkode/pen/Kfgix
