<div style="position: relative;">
    <div #timelineparent class="timeline mt-3 mb-3">
        <dng-timeline-entry [parentOffsetWidth]="getOffsetWidth" [parentPos]="parentPos"></dng-timeline-entry>
        <dng-timeline-entry [parentOffsetWidth]="getOffsetWidth" [parentPos]="parentPos"></dng-timeline-entry>
        <!--div #timeline class="timeline-entry">
            <div *ngIf="mousedown" style="position: relative; top: -25px; left: -15px;" class="noselect">{{ position }}</div>
        </div-->
    </div>
</div>
