<header id="header">
  <h1 id="logo">
    <a [routerLink]="['']"></a>
  </h1>

  <nav id="menu">
    <a class="btn" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['']">Home</a>
    <a class="btn" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['about']">About</a>
    <a class="btn" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['test']">Test page</a>
  </nav>

  <div class="color"></div>
</header>

<main id="container">
  <router-outlet></router-outlet>
</main>

<div class="footer">
  <p>
    <a href="https://github.com/jojanper/ng2-app">Draal powered by ng2</a>
  </p>
</div>
