// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

main {
  text-align: center;
  display: block;
}

#header {
  height: 64px;
  background: #fff;
  position: fixed;
  header: 0;
  left: 0;
  width: 100%;

  h1#logo {
    float: left;
    margin: 0;

    a {
     background: url(/img/angular2-logo1.png) no-repeat top left;
     width: 194px;
     height: 70px;
     margin: 3px;
     display: block;
     text-indent: -9999px;
   }
  }

  .color {
    display: block;
    height: 4px;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgba(195, 30, 30, 0.9) !important;
  }

  #menu {
    float: left;
    padding: 17px 40px 0 0;
    margin-top: 10px;
    .btn {
      border: none;
      box-shadow: none;
    }
  }
}

.router-link-active {
  color: #C83434;
  text-decoration: underline;
}

#container {
  padding:100px 20px 20px 20px;

  h1 {
    text-align: center;
  }
}

.footer {
    position: relative;
    margin-top: 5px;
    width: 224px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    background: url(img/footer.png);
    background-size: 160px 40px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1.0;
    width: 275px;
    padding: 1.125em 0;
    border-top: 2px #dcddde solid;

    p {
        position: absolute;
        width: 100%;
        bottom: 2px;
        top: 50px;
        font-weight: bold;
        font-size: 9px;
        text-align: center;
        padding-top: 7px;
        a {
          color: #000;
        }
    }
}
