<div class="container col-md-6 col-md-offset-3">
    <ng-template #loading>
        <dng-spinner scale=0.5 type="spinner-2" class="justify-content">
            <div class="text-center">Loading planets...</div>
        </dng-spinner>
    </ng-template>

    <div *ngIf="observable | async as data; else loading">
        <dng-dt [tableData]="data" [dtRender]="renderPlanetsFn">
            <div dngDtColumnDirective dt-data="name" dt-title="Name"></div>
            <div dngDtColumnDirective dt-data="rotation_period" dt-title="Rotation period"></div>
            <div dngDtColumnDirective dt-data="diameter" dt-title="Diameter"></div>
            <div dngDtColumnDirective dt-data="climate" dt-title="Climate"></div>
            <div dngDtColumnDirective dt-data="terrain" dt-title="Terrain"></div>
            <div dngDtColumnDirective dt-data="population" dt-title="Population"></div>
            <div dngDtColumnDirective dt-title="Species" dt-render="species"></div>
        </dng-dt>
    </div>
</div>
