// styles in src/style directory are applied to the whole page
body {
  font-family: Tahoma, Geneva, sans-serif;
  font-family: Georgia, Serif;
}

h1, h2 {
  text-align: center;
}

.chosen-default span {
    color: #777777;
}
