<div class="float-right mt-sm-3 mr-sm-4">
    <ng-template #noauth>
        <button type="button" class="btn btn-success" (click)="redirect(true)">Sign in</button>
        <button type="button" class="btn btn-primary" (click)="redirect(false)">Sign up</button>
    </ng-template>

    <div *ngIf="authStatus | async as authenticated; else noauth">
        <dng-dropdown [menuItems]="authMenuItems" class="auth-menu float-right mt-sm-3">
            <div class="float-left dropdown-component-avatar">
                <img src="https://avatars3.githubusercontent.com/u/22722756?s=40&amp;v=4" height="20" width="20" />
            </div>
        </dng-dropdown>
    </div>
</div>
