<div [formGroup]="parentForm">
    <div [ngSwitch]="type">
        <div class="form-control" *ngSwitchCase="'radio'" [ngClass]="getInputClass()">
            <div *ngFor="let item of options.selector.list">
                <label class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="{{ options.ref }}" formControlName="{{ options.ref }}" [value]="item" />
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ item }}</span>
                </label>
            </div>
        </div>
        <div class="form-control" *ngSwitchCase="'checkbox'" [ngClass]="getInputClass()" formArrayName="{{ options.ref }}">
            <div *ngFor="let item of options.selector.list; let idx=index;">
                <div formGroupName="{{ idx }}">
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="{{ options.ref }}" formControlName="{{ item[options.selector.displayRef] }}" />
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ item[options.selector.displayRef] }}</span>
                    </label>
                </div>
            </div>
        </div>
        <input keyUpEvent [control]="control" *ngSwitchDefault class="form-control" placeholder="{{ options.placeholder }}" type="{{ type }}"
            name="{{ options.ref }}" formControlName="{{ options.ref }}" [ngClass]="getInputClass()" />
    </div>
</div>
