<form name="form" [formGroup]="form" autocomplete="off" novalidate (keyup.enter)="submitForm()">
    <dng-form-input *ngFor="let input of inputDefs" [options]="input" type="{{ input.type }}" label="{{ input.label }}" [parentForm]="form"></dng-form-input>
    <div class="form-group">
        <button type="button" [hidden]="inProgress" (click)="submitForm()" (keyup.enter)="submitForm()" [disabled]="!form.valid" class="btn btn-primary">{{ submitLabel }}</button>
        <dng-spinner scale=0.5 type="spinner-2" [hidden]="!inProgress" class="float-left">Processing...</dng-spinner>
    </div>
    <input type="submit" style="display: none;">
</form>
