<div class="form-group" [formGroup]="parentForm" [ngClass]="getGroupClass()">
    <label *ngIf="options.noLabel !== true" for="{{ options.ref }}">{{ label }}</label>
    <div [ngSwitch]="type">
      <dng-select-input *ngSwitchCase="'select'" type="{{ type }}" [options]="options" [parentForm]="parentForm" formControlName="{{ options.ref }}"></dng-select-input>
      <dng-default-input *ngSwitchDefault type="{{ type }}" [options]="options" [parentForm]="parentForm"></dng-default-input>
    </div>
    <dng-form-input-messages [options]="options" [control]="control"></dng-form-input-messages>
</div>
