<div [formGroup]="parentForm">
    <div [ngClass]="getInputClass()">
        <select *ngIf="!multiple" class="select-input" name="{{ options.ref }}" formControlName="{{ options.ref }}" #selectElem>
            <option value=""></option>
            <option *ngFor="let item of selectionList; let idx=index" value="{{ idx }}">{{ getViewValue(item) }}</option>
        </select>
        <select *ngIf="multiple" class="select-input" name="{{ options.ref }}" multiple formControlName="{{ options.ref }}" #selectElem>
            <option value=""></option>
            <option *ngFor="let item of selectionList; let idx=index" value="{{ idx }}">{{ getViewValue(item) }}</option>
        </select>
    </div>
</div>
