<ng-template #loading>
    <dng-spinner type="spinner-2" class="justify-content">
        <div class="text-center">Loading...</div>
    </dng-spinner>
</ng-template>

<div *ngIf="events.length; else loading">
    <div *ngIf="downloadProgress | async as value">
        <ngb-progressbar type="success" [value]="value"></ngb-progressbar>
    </div>
    <button type="button" class='btn btn-primary' (click)="renderer.togglePlayback()">Toggle playback</button>
    <div #elapsed></div>
    <dng-timeline *ngFor="let event of events" [timelineLength]="timelineLength" [event]="event"></dng-timeline>
</div>
